# Core app
streamlit

# LangChain components
langchain
langchain_groq
langchain-text-splitters
langchain-huggingface
langchain_community

# PDF handling
pypdf

# Embeddings
sentence_transformers

# Utilities
python-dotenv
rank_bm25

# FAISS for in-memory vectorstore
faiss-cpu
